body {
  min-width: 960px;
}

.container_12 {
  margin-left: auto;
  margin-right: auto;
  width: 960px; /*960px*/
}

.grid_3,
.grid_6,
.grid_12 {
  display: inline;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
}

.alpha {
  margin-left: 0;
}

.omega {
  margin-right: 0;
}

.grid_3 {
  width: 22.916666667%; /*220px*/
}

.grid_6 {
  width: 47.916666667%; /*460px*/
}

.grid_12 {
  width: 97.916666667%; /*940px*/
}