@import "_normalize";
@import "_grid";
@import "_variables";


body {
	background: url("../img/bg.png");
	color: $color-primary;
	font-family: $font-stack-primary;
}

blockquote {
	color: $color-secondary;
	@include blockquote();
}

nav {
	li {
		float: left;
		margin: 0 10px 0 10px;
		@include nav-links();
	}

	a:link,
	a:visited {
		color: $color-primary;
		padding: 10px 10px 10px 40px;
		text-transform: uppercase;
		@include nav-links();
	}

	a:hover,
	a:active {
		color: $color-secondary;
	}
}

#html5logo {
	background-image: url('../img/icons.png');
	background-position: 0px -111px;
	width: 128px;
	height: 128px;
}

#home a:hover {
	background-image: url('../img/icons.png');
	background-position: 0px -37px;
	height: 23px;
}

#super a:hover {
	background-image: url('../img/icons.png');
	background-position: 0px 0px;
	height: 23px;
}

#html5 a:hover {
	background-image: url('../img/icons.png');
	background-position: 0px -74px;
	height: 23px;
}

h3 {
	font-family: $font-stack-secondary;
}

section {
	div {
		background: url('../img/people.jpg');
		height: 200px;
		width: 200px;

		&.person1 {
			background-position: 0px 0px;
		}
		&.person2 {
			background-position: 0px -400px;
		}
		&.person3 {
			background-position: 0px -200px;
		}
		&.person4 {
			background-position: 0px -600px;
		}
	}

}

article div {
	border: 10px solid $color-primary;
	+ p {
		line-height: 24px;
		text-indent: 32px;
	}
}

footer p {
	font: 10px/16px $font-stack-footer;
}