@import url(http://fonts.googleapis.com/css?family=Open+Sans);
@import "_normalize";
@import "_grid";
@import "_variables";


body {
	background: url("../img/bg.png");
	color: $color-primary;
	font-family: $font-stack-primary;
	background: red;
}

blockquote {
	color: $color-secondary;
	@include blockquote();
}

nav {
	li {
	float: left;
	margin: 0 10px 0 10px;
	@include nav-links();
	}

	a:link,
	a:visited {
	color: $color-primary;
	padding: 10px 10px 10px 40px;
	text-transform: uppercase;
	@include nav-links();
	}

	a:hover,
	a:active {
	color: $color-secondary;
	}
}

#home a:hover {
	background: url("../img/icons/home.png") no-repeat left center;
}

#super a:hover {
	background: url("../img/icons/super.png") no-repeat left center;
}

#html5 a:hover {
	background: url("../img/icons/html5.png") no-repeat left center;
}

h3 {
	font-family: $font-stack-secondary;
}

article img {
	border: 10px solid $color-primary;
}

img + p {
	line-height: 24px;
	text-indent: 32px;
}

footer p {
	font: 10px/16px $font-stack-footer;
}
